<div class="block {{ if .inverse }}block--inverse{{ end }}">
  <div class="block__container">
    <div class="block__text">
      <h1>{{ .title }}</h1>
      <p>{{ .text }}</p>
    </div>
    <div class="block__image">
      <svg
        width="416"
        height="416"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="416" height="416" fill="#FF531A" />
      </svg>
      <!-- <img src="{{ .image }}" alt="{{ .alt }}" /> -->
    </div>
  </div>
</div>
