<div class="block {{ if .inverse }}block--inverse{{ end }}">
  <div class="block__container">
    <div class="block__text">
      <h1>{{ .title }}</h1>
      <p>{{ .text }}</p>
    </div>
    <div class="block__image">
      <picture>
        <source
          type="image/webp"
          srcset="{{ .images.mobile.filename }}.webp {{ .images.mobile.width }}w, {{ .images.desktop.filename }}.webp {{ .images.desktop.width }}w"
          sizes="(max-width: 767px) 100vw, 400px"
        />
        <source
          type="image/jpeg"
          srcset="{{ .images.mobile.filename }}.jpg {{ .images.mobile.width }}w, {{ .images.desktop.filename }}.jpg {{ .images.desktop.width }}w"
          sizes="(max-width: 767px) 100vw, 400px"
        />
        <img
          src="{{ .images.desktop.filename }}.jpg"
          alt="{{ .alt_text }}"
        />
      </picture>
    </div>
  </div>
</div>
