<footer class="footer">
  <div class="footer__container">
    <div class="footer__left">
      <nav>
        <ul class="lan-nav">
          {{ range $.Site.Home.AllTranslations }}
          <li>
            <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
          </li>
          <!-- prettier-ignore -->
          {{ end }}
        </ul>
      </nav>
    </div>
    <div class="footer__right">
      <nav>
        <ul class="footer__nav">
          {{ range .Site.Menus.footer }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </nav>
    </div>
  </div>
</footer>
