<div class="footer">
  <div class="footer__container container">
    <div class="footer__nav">
      <div class="footer__nav-col">
        <div class="footer__title">{{ .Site.Params.footer.navigation.titleColumn1 }}</div>
        <ul>
          {{ $currentPage := . }}
          {{ range.Site.Menus.footer1 }}
            <li>
              <a class="{{ if eq (string .URL) $currentPage.RelPermalink }}active{{ end }}" href="{{ .URL }}"> {{ .Name }} </a>
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="footer__nav-col">
        <div class="footer__title">{{ .Site.Params.footer.navigation.titleColumn2 }}</div>
        <ul>
          {{ $currentPage := . }}
          {{ range.Site.Menus.footer2 }}
            <li>
              <a class="{{ if eq (string .URL) $currentPage.RelPermalink }}active{{ end }}" href="{{ .URL }}"> {{ .Name }} </a>
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="footer__nav-col">
        <div class="footer__title">{{ .Site.Params.footer.navigation.titleColumn3 }}</div>
        <ul>
          {{ $currentPage := . }}
          {{ range.Site.Menus.footer3 }}
            <li>
              <a class="{{ if eq (string .URL) $currentPage.RelPermalink }}active{{ end }}" href="{{ .URL }}"> {{ .Name }} </a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
    <div class="footer__newsletter">
      <div class="footer__title">{{ .Site.Params.footer.newsletterTitle }}</div>
      {{ partial "newsletter" . }}
    </div>
  </div>
</div>


