<footer class="footer">
  <div class="footer__container">
    <div class="footer__left">
      <nav>
        <ul class="lan-nav">
          {{ range .Site.Languages }}
            {{ if eq . $.Site.Language }}
              <li><a href="#" class="active language">{{ .LanguageName }}</a></li>
            {{ else }}
              {{ range $.Translations }}
              <li><a href="{{ .Permalink }}" class="">{{ .Language.LanguageName }}</a></li>
              {{ end }}
            {{ end }}
          {{ end }}
        </ul>
      </nav>
    </div>
    <div class="footer__right">
      <nav>
        <ul class="footer__nav">
          {{ $currentPage := . }}
          {{ range .Site.Menus.footer }}
            <li><a class="{{ if eq (string (.URL | relLangURL)) $currentPage.RelPermalink }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </nav>
    </div>
  </div>
</footer>
