<header class="header">
  <div class="header__wrapper">
    <div class="header__container">
      <div class="header__left">
        <label for="mobile-nav-input" class="header__mobile-nav-trigger">
          <span></span>
        </label>
        <a href="{{ .Site.Home.RelPermalink }}" class="header__logo">
          <img src="/logo-skribble.svg" alt="">
          Skribble
        </a>
      </div>
      <div class="header__right">
        <a href="tel:+41445051664" class="header__link mobile-link hide-for-mobile">
          +41 44 505 16 64
          <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
            <path d="M21.5,10.5h2c0-5.5-4.5-10-10-10v2C17.9,2.5,21.5,6.1,21.5,10.5z M17.5,10.5h2c0-3.3-2.7-6-6-6v2
              C15.7,6.5,17.5,8.3,17.5,10.5z M21.9,17.1l-5.6-2.4c-0.4-0.2-0.8-0.1-1.1,0.2l-2.4,2.3l-6-6l2.3-2.4c0.3-0.3,0.4-0.7,0.2-1.1
              L6.9,2.1C6.7,1.7,6.2,1.4,5.7,1.5L1.3,2.7c-0.5,0.1-0.8,0.5-0.8,1c0.3,5.2,2.4,10,6,13.7c3.7,3.6,8.6,5.8,13.7,6
              c0.5,0,0.9-0.3,1-0.8l1.2-4.4C22.6,17.8,22.3,17.3,21.9,17.1z"/>
          </svg>
        </a>
        <a href="{{ $.Site.Params.header.makeAnAppointment.href }}" target="_blank" class="btn header__btn">{{ $.Site.Params.header.makeAnAppointment.label }}</a>
      </div>
    </div>
  </div>
</header>