<header class="header">
  <div class="header__wrapper">
    <div class="header__container">
      <div class="header__left">
        <a href="{{ .Site.Home.RelPermalink }}" class="header__logo">
          <svg
            width="54"
            height="30"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="54" height="30" fill="#FF531A" />
          </svg>
          Skribble
        </a>
        <nav>
          <ul class="header__nav">
            {{ $currentPage := . }}
            <!-- prettier-ignore -->
            {{ range.Site.Menus.main }}
            <li>
              <a href="{{ .URL }}"> {{ .Name }} </a>
            </li>
            <!-- prettier-ignore -->
            {{ end }}
          </ul>
        </nav>
      </div>
      <div class="header__right">
        <button type="button" class="btn header__btn">Jetzt Vormerken</button>
      </div>
    </div>
  </div>
</header>
