<header class="header {{ if .Site.Params.outage }}outage-margin-top{{end}}">
  <div class="header__wrapper">
    <div class="header__container container">
      <div class="header__left">
        <label for="mobile-nav-input" class="header__mobile-nav-trigger">
          <span></span>
        </label>
        <a href="{{ .Site.Home.RelPermalink }}" class="header__logo">
          <img src="/logo-skribble.svg" alt="">
          Skribble
        </a>
        <nav class="header__nav">
          <ul class="header__nav-list">
            {{ $currentPage := . }}
            {{ range.Site.Menus.main }}
              {{ if .HasChildren }}
                <li class="submenu">
                  <a href="{{ .URL }}"> {{ .Name }}
                      <svg viewBox="0 0 10 7"
                      xmlns="http://www.w3.org/2000/svg"
                      height="12px"
                      width="12px"
                      fill="currentColor"
                      role="presentation"
                      class="icon-caret">

                      <polygon points="5,6.6 0,1.6 1.2,0.4 5,4.2 8.8,0.4 10,1.6 "/>
                      </svg></a>

                  <ul >
                    {{ range .Children }}
                      <li><a class="{{ if eq (string .URL) $currentPage.RelPermalink }}active{{ end }}" href="{{ .URL }}">{{ .Name }}


                      </a></li>
                    {{ end }}
                  </ul>
                </li>
                <!-- <ul class="sub-menu">
                    {{ range .Children }}
                        <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                            <a href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                    {{ end }}
                </ul> -->
              {{ else }}
                <li>
                  <a class="{{ if eq (string .URL) $currentPage.RelPermalink }}active{{ end }}" href="{{ .URL }}"> {{ .Name }} </a>
                </li>
              {{ end }}
            {{ end }}
          </ul>
        </nav>
      </div>
      <div class="header__right">
        {{ if $.Site.Params.phone }}
          <p class="header__phone">
            <svg
              viewBox="0 0 48 48"
              xmlns="http://www.w3.org/2000/svg"
              height="20px"
              width="20px"
              fill="currentColor"
              role="presentation"
              class="icon-spaced">
            <path d="M34.5,21.1h3.8c0-6.3-5.1-11.5-11.5-11.5v3.8C31.1,13.5,34.5,16.9,34.5,21.1z M42.2,21.1H46C46,10.6,37.4,2,26.9,2v3.8
          C35.3,5.8,42.2,12.7,42.2,21.1z M42.6,33.9l-10.7-4.6c-0.7-0.3-1.5-0.2-2.1,0.4l-4.5,4.4L13.9,22.7l4.4-4.5c0.5-0.6,0.7-1.4,0.4-2.1
          L14.1,5.4c-0.4-0.9-1.3-1.3-2.2-1.1L3.4,6.6C2.6,6.8,2,7.6,2,8.5c0.5,9.8,4.6,19.1,11.5,26.1c7,6.9,16.3,10.9,26.1,11.5
          c0.9,0,1.7-0.6,1.9-1.4l2.2-8.4C43.9,35.2,43.4,34.3,42.6,33.9z"/>
            </svg>
              <a class="header__phone__number" href="tel:{{ $.Site.Params.phone }}" target="_blank">
                {{ $.Site.Params.phone }}
              </a>
          </p>
          <div class="header__separator"></div>
        {{ end }}
        <a href="{{ $.Site.Params.header.login.href }}" class="header__link">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            width="24px"
            viewBox="0 0 24 24"
            fill="currentColor"
            role="presentation"
            class="icon"
          >
            <path d="M12,11.88a2.48,2.48,0,0,0-.92,4.79v.72a.92.92,0,1,0,1.83,0v-.72A2.47,2.47,0,0,0,12,11.88ZM12,15a.66.66,0,1,1,0-1.31A.66.66,0,1,1,12,15Zm4.73-5.35V6.23A4.57,4.57,0,0,0,12,1.74,4.57,4.57,0,0,0,7.27,6.23V9.67a6.91,6.91,0,1,0,9.46,0ZM9.1,6.23A2.76,2.76,0,0,1,12,3.57a2.76,2.76,0,0,1,2.9,2.66V8.44a6.79,6.79,0,0,0-5.8,0ZM12,19.74a5.06,5.06,0,1,1,5.08-5.06A5.09,5.09,0,0,1,12,19.74Z" />
          </svg>
          {{ $.Site.Params.header.login.label }}
        </a>
        <a href="{{ $.Site.Params.header.tryItOut.href }}" class="btn header__btn">{{ $.Site.Params.header.tryItOut.label }}</a>
        {{ if ne "404" .Page.Kind  }}
          <nav class="lan-nav">
            {{ $siteLanguages := .Site.Languages}}
            {{ $pageLang := .Page.Lang}}
            <div class="lan-nav__current">
              <img src="flags/{{ .Site.Params.flagCode }}.svg" />
            </div>
            <ul class="lan-nav__list">
              {{ range .Page.AllTranslations }}
                {{ $translation := . }}
                {{ range $siteLanguages }}
                  {{ if eq $translation.Lang .Lang }}
                    {{ if eq $pageLang .Lang}}
                      <li class="lan-nav__item">
                        <a class="lan-nav__link active language" href="{{ $translation.URL }}">
                          <div>{{ .LanguageName }}</div>
                          <img class="lan-nav__flag" src="flags/{{ .Params.flagCode }}.svg" />
                        </a>
                      </li>
                      {{ else }}
                      <li class="lan-nav__item">
                        <a class="lan-nav__link" href="{{ $translation.URL }}">
                          <div>{{ .LanguageName }}</div>
                          <img class="lan-nav__flag" src="flags/{{ .Params.flagCode }}.svg" />
                        </a>
                      </li>
                    {{ end }}
                  {{ end }}
                {{ end }}
              {{ end }}
            </ul>
          </nav>
        {{ end }}
      </div>
    </div>
  </div>
</header>