<header class="header">
  <div class="header__wrapper">
    <div class="header__container">
      <div class="header__left">
          <label for="mobile-nav-input" class="header__mobile-nav-trigger">
            <span></span>
          </label>
          <a href="{{ .Site.Home.RelPermalink }}" class="header__logo">
            <img src="/logo-skribble.svg" alt="">
            Skribble
          </a>
      </div>
      <div class="header__right">
        <nav>
          <ul class="header__nav">
            {{ $currentPage := . }}
            {{ range.Site.Menus.main }}
            <li>
              <a class="{{ if eq (string (.URL | relLangURL)) $currentPage.RelPermalink }}active{{ end }}" href="{{ .URL | relLangURL }}"> {{ .Name }} </a>
            </li>
            {{ end }}
          </ul>
        </nav>
            <!-- <button type="button" class="btn header__btn">Jetzt Vormerken</button> -->
      </div>
    </div>
  </div>
</header>

<script>

</script>