<div class="person-wrapper">
  <div class="person">
    <div class="person__image">
      <picture>
        <source
          type="image/webp"
          media="(max-width: 767px)"
          srcset="{{ .images.regular_landscape }}.webp 1x, {{ .images.retina_landscape }}.webp 2x"
        />
        <source
          type="image/jpeg"
          media="(max-width: 767px)"
          srcset="{{ .images.regular_landscape }}.jpg 1x, {{ .images.retina_landscape }}.jpg 2x"
        />
        <source
          type="image/webp"
          media="(min-width: 768px)"
          srcset="{{ .images.regular_portrait }}.webp 1x, {{ .images.retina_portrait }}.webp 2x"
        />
        <source
          type="image/jpeg"
          media="(min-width: 768px)"
          srcset="{{ .images.regular_portrait }}.jpg 1x, {{ .images.retina_portrait }}.jpg 2x"
        />
        <img
          src="{{ .images.regular_landscape }}.jpg"
          alt="{{ .images.alt_text }}"
        />
      </picture>
    </div>
    <div class="person__name">{{ .name }}</div>
    <div class="person__position">{{ .position }}</div>
  </div>
</div>
