<div class="pricing">

  <!-- pass on the arguments to title-subtitle module -->
  {{ partial "title-subtitle" . }}

  <div class="pricing__plans">

    {{ range .plans }}

      <div class="pricing__plans-wrapper">
        <div class="
          pricing__price-plan
          price-plan
          {{ cond (eq .color "warning") "price-plan--gold" "" }}
          {{ cond (eq .color "info") "price-plan--platinum" "" }}
        ">
          <div class="price-plan__title">{{ .title }}</div>
          <div class="price-plan__description">{{ .description }}</div>
          <div class="price-plan__details">
            <div class="price-plan__per">{{ .per }}</div>
            <div class="price-plan__lower">
              <div class="price-plan__currency">{{ .currency }}</div>
              <div class="price-plan__cost">
                <div class="price-plan__price">{{ .price }}</div>
                <div class="price-plan__addendum">{{ .addendum }}</div>
              </div>
            </div>
          </div>
        </div>

        {{ if .discounts }}

          <div class="price-plan__discounts">
            <table class="price-plan__discounts-table">
              <thead>
                <tr>
                  <th colspan="4">{{ .discounts.title }}</th>
                </tr>
              </thead>
              <tbody>

                {{ range $i, $el :=.discounts.row }}

                  <tr {{ if (eq $i 0) }}class="first"{{ end }}>
                    <td><strong>{{ .col1 }}</strong></td>
                    <td>{{ .col2 }}</td>
                    <td>{{ .col3 }}</td>
                    <td><strong>{{ .col4 }}</strong></td>
                  </tr>

                {{ end }}

              </tbody>
            </table>
          </div>
        {{ end }}

      </div>

    {{ end }}

  </div>
</div>
