.action-card {

    &__inner {
        display: flex;
        flex-flow: row wrap;
        box-shadow: 0px 0px 10px #DDD;
        font-size: 1.6rem;
    }

    p {
        margin: 0px;
    }

    // TODO: Appears twice. Get rid of nested selectors to apply simpler rules
    .top-spaced {
        margin-top: 24px;
    }

    strong {
        color: $c-text-alt;
    }

    .large {
        font-size: 150%;
    }

    &__content {
        width: 100%;
        padding: 24px 24px 12px 24px !important;

        .top {
            max-height: 300px;
            flex-grow: 1;
            display: flex;
            flex-flow: column wrap;
            margin-bottom: 12px;
            column-gap: 5%;

            @media only screen and (max-width: 720px) {
                max-height: none;
                height: auto;
            }

            .title {
                color: $c-text-alt;
                margin: 0px;
                padding-bottom: 24px;
                order: 0;
            }

            .description {
                order: 10;
                width: 40%;
                flex-grow: 1;
                min-height: 100px;
                @media only screen and (max-width: 720px) {
                    width: 100%;
                    min-height: 0px;
                }

                p {
                    margin: 0;
                }

                .top-spaced {
                    margin-top: 24px;
                }
            }

            .image{
                height: 180px;
                order: 20;
                width: 55%;

                .picture {
                    padding: 0px 16px 0px 0px;
                    justify-content: right;
                }

                @media only screen and (max-width: 720px) {
                    order: 5;
                    margin: 12px 0px;
                    height: 100%;
                    width: 100%
                }
            }
        }

        .button {
            padding: 12px 0px;
            width: 100%;

            .btn {
                width: 100%;
            }
        }

        .subtext, .caption {
            font-size: 12px;
        }

        .caption {
            order: 40;
            width: 55%;
            margin: top;
            display: flex;
            flex: 1;
            align-items: flex-end;

            @media only screen and (max-width: 720px) {
                margin: 12px 0px;
                height: 100%;
                width: 100%
            }
        }
    }

    .no-top-padding {
        padding-top: 0px !important;
    }

    .comparison {
        width: 100%;
        margin-top: 24px;
        display: flex;
        flex-flow: row wrap;

        .comparison-title {
            margin-bottom: 12px;
            padding: 0px 24px;
        }

        .comparison-container {
            display: flex;
            flex-flow: row wrap;
        }

        .comparison-first {
            width: calc(100% / 2 - 0.5px);
            padding: 12px 48px 12px 24px;
            border-top: 1px solid #DADEE6;
            @media only screen and (max-width: 720px) {
                padding: 24px 24px 40px 24px;
                width: 100%;
                border-bottom: 1px solid #DADEE6;
            }
        }

        .comparison-separator {
            width: 1px;
            height: 100%;
            align-items: center;
            display: flex;
            overflow: visible;
            align-items: center;
            justify-items: center;
            background: #DADEE6;
            @media only screen and (max-width: 720px) {
                width: 100%;
                height: 0px;
            }

            .separator-text {
                background: white;
                border: 1px solid #DADEE6;
                border-radius: 20px;
                padding: 5px 15px;
                position: absolute;
                transform: translateX(-50%);

                @media only screen and (max-width: 720px) {
                    transform: none;
                    position: relative;
                    margin-inline: auto;
                }
            }
        }

        .comparison-second {
            width: calc(100% / 2 - 0.5px);
            padding: 12px 24px 12px 48px;
            border-top: 1px solid #DADEE6;
            // border-bottom: 1px solid #DADEE6;
            @media only screen and (max-width: 720px) {
                border-top: none;
                padding: 40px 24px 24px 24px;
                width: 100%;
            }
        }

        .comparison-caption {
            width: 100%;
            border-top: 1px solid #DADEE6;
            text-align: center;
            font-size: 14px;
            padding: 20px 20px 12px 20px;
        }
    }
}