.block {
  @include set-site-width;

  + .block {
    margin-top: 70px;
  }

  svg,
  img {
    display: block;
  }

  h1,
  h2 {
    color: var(--c-text-dark);
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
  }

  &__text {
    padding: 0 30px;
  }

  &--inverse {
    .block__container {
      flex-direction: row-reverse;
    }
  }
}
