.block {
  @include site-width;
  @include vertical-unit-margins;

  &__image {
    @include min-width {
      flex: 1 0 400px;
      max-width: 400px;
    }

    img {
      display: block;
      max-width: 100%;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    @include max-width {
      flex-direction: column;
    }
  }

  &__text {
    max-width: 480px;
    @include min-width {
      padding: 0 30px;
    }
  }

  &--inverse {
    .block__container {
      flex-direction: row-reverse;
      @include max-width {
        flex-direction: column;
      }
    }
  }
}
