.block {
  @include site-width;
  @include vertical-unit-margins;

  &__image {
    max-width: 400px;
    @include min-width {
      flex: 0 1.5 400px;
    }

    img {
      display: block;
      max-width: 100%;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    @include max-width {
      flex-direction: column;
    }
  }

  .title-subtitle {
    @include min-width {
      flex: 1 1 580px;
      padding-right: 80px;
    }
  }

  &--inverse {
    .block__container {
      flex-direction: row-reverse;
      @include max-width {
        flex-direction: column;
      }
    }
    .title-subtitle {
      @include min-width {
        padding-left: 80px;
      }
    }
  }
}
