.block {
  @include set-site-width;

  + .block {
    margin-top: 120px;
  }

  &__image {
    flex: 1 0 400px;
    max-width: 400px;

    img {
      display: block;
      max-width: 100%;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  &__text {
    max-width: 480px;
    padding: 0 30px;
  }

  &--inverse {
    .block__container {
      flex-direction: row-reverse;
    }
  }
}
