.btn {
  display: inline-block;
  height: 60px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 0;
  border-radius: 3px;
  padding: 0 23px;
  font-size: 1.6rem;
  line-height: 60px;
  cursor: pointer;
  color: #fff;
  background-color: $c-primary;
  text-decoration: none;
  &:hover {
    background-color: #338ceb;
  }
}
