.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  font-family: $averta;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 0;
  border-radius: 3px;
  padding: 0 23px;
  font-size: 1.6rem;
  cursor: pointer;
  color: #fff;
  background-color: $c-primary;
  text-decoration: none;
  &:hover {
    background-color: #338ceb;
  }

  &--outline {
    border: 2px solid rgba($c-primary, .4);
    color: $c-primary;
    background-color: white;
    &:hover {
      color: white;
      background-color: $c-primary;
    }
  }
}
