.center-block {
  @include site-width;
  @include vertical-unit-margins;
  @include add-richtext-styling;
  width: 750px;
  text-align: center;

  .content {
    text-align: center;
  }

  .picture {
    display: flex;
    justify-content: center;
    margin: 22px 0;
  }

  .row,
  .column {
    margin-top: 80px;
    text-align: left;
  }
}
