.collapsible {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #D8D8D8;

  input {
    display: none;
  }

  &s{
    border-top: 1px solid #D8D8D8;
  }

  &__label {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 35px 60px 5px 30px;
    cursor: pointer;
    font-weight: bold;
    color: var(--c-text-alt);

    &:after,
    &:before {
      position: absolute;
      right: 30px;
      top: 50px;
      width: 13px;
      height: 3px;
      background-color: var(--c-text-alt);
      transition: all .36s cubic-bezier(.4, 0, .2, 1);
      content: '';
    }

    &:before {
      transform: rotate(90deg)
    }
  }

  &__icon {
    flex: 0 0 auto;
    margin-right: 25px;
  }

  &__toggle {
    &:checked {
      ~ .collapsible__label {
        &:before {
          transform: rotate(180deg);
          transition: all .36s cubic-bezier(.4, 0, .2, 1);
        }
        &:after {
          transform: rotate(180deg);
          transition: all .36s cubic-bezier(.4, 0, .2, 1);
        }
      }
      ~ .collapsible__content {
        z-index: 1;
        max-height: 500px;
        opacity: 1;
        transition: all .36s 	cubic-bezier(.4, 0, .2, 1);
      }
    }
  }

  &__content {
    position: relative;
    z-index: -1;
    max-height: 0;
    opacity: 0;
    padding: 0 85px 35px;
    transition: all .2s;
    &:after {
      position: absolute;
      left: 0;
      right: 0;
      top: -71px;
      bottom: -1px;
      border-radius: 3px;
      content: '';
    }
  }
}
