.collapsible {
  position: relative;
  z-index: 1;
  max-width: 100%;
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;

  input {
    display: none;
  }

  + .collapsible {
    border-top: 0;
  }

  &__label {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 16px 36px 16px 0;
    cursor: pointer;
    font-weight: bold;
    color: $c-text-alt;
    &:after,
    &:before {
      position: absolute;
      right: 6px;
      top: 29px;
      width: 13px;
      height: 3px;
      background-color: $c-text-alt;
      transition: all .36s cubic-bezier(.4, 0, .2, 1);
      content: '';
      @include max-width {
        right: 15px;
      }
    }

    &:before {
      transform: rotate(90deg)
    }
  }

  &__icon {
    flex: 0 0 auto;
    margin-right: 20px;
  }

  &__toggle {
    &:checked {
      ~ .collapsible__label {
        &:before {
          transform: rotate(180deg);
          transition: all .36s cubic-bezier(.4, 0, .2, 1);
        }
        &:after {
          transform: rotate(180deg);
          transition: all .36s cubic-bezier(.4, 0, .2, 1);
        }
      }
      ~ .collapsible__content {
        z-index: 1;
        max-height: 500px;
        opacity: 1;
        transition: all .36s 	cubic-bezier(.4, 0, .2, 1);
      }
    }
  }

  &__content {
    position: relative;
    z-index: -1;
    max-height: 0;
    opacity: 0;
    transition: all .2s;
    overflow: hidden;
    @include min-width {
      padding-right: 50px;
    }
    &.has-icon {
      @include min-width {
        padding: 0 50px;
      }
    }

    p {
      margin: 0;
      &:last-child {
        margin-bottom: 16px !important;
      }
    }
  }
}
