.compliance {
  @include site-width;
  @include vertical-unit-margins;
  width: 750px;

  &__title {
    text-align: center;
  }

  &__text {
    margin-bottom: 50px;
    text-align: center;
  }

  &__collapsibles {
  }
}
