.compliance {
  @include vertical-unit-margins;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;

  &__title {
    text-align: center;
  }

  &__text {
    margin-bottom: 50px;
    text-align: center;
  }

  &__collapsibles {
  }
}
