.contact {
  &__columns {
    display: flex;
    margin-top: 30px;
    @include max-width {
      flex-direction: column;
    }
  }

  &__column {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    @include max-width {
      margin-top: 25px;
    }

    p {
      margin: 0;
    }

    a {
      color: var(--c-text);
      &:hover {
        color: var(--c-primary);
      }
    }

    &-title {
      margin: 0;
      font: bold 2rem/1.6 var(--averta);
      color: var(--c-text-alt);
    }
  }
}