.content {

  h1, h2, h3, h4, p {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .flex .content-inner {
    display: flex;
    @include max-width {
      flex-direction: column;
      align-items: center;
    }
  }
}
