.content {
  @include site-width($narrow: true);
  @include standard-padding;
  @include min-width {
    padding-top: 88px;
  }

  p:last-child {
    margin-bottom: 0;
  }

  + .cta {
    margin-top: -$standard-padding - 1px;

    .cta__title {
      margin-top: $standard-padding;
    }
  }
}

.no-bottom-padding {
  padding-bottom: 0px;
}
