#klaro-skribble {
  .cm-btn, .cm-link, button {
    cursor: pointer;
  }

  .cm-btn {
    border-radius: 3px;
    padding: 8px 12px;
  }

  .cookie-notice {
    a {
      color: white
    }
    
    .cm-btn {
      background: #006df2;
    }
  }

  .cookie-modal {
    a {
      color: #006df2
    }

    .cm-btn-accept-all {
      background: #006df2
      
    }

    .cm-btn-info {
      background: #888888
    }

    .cm-app-input:checked+.cm-app-label .slider {
      background-color: #006df2
    }
    .cm-app-input.required:checked+.cm-app-label .slider {
      background-color: #60718e;
      opacity: 0.6
    
    }
  }
}