.features-item {
    @media screen and (max-width: 1200px) {
        width: 100%;
    }
    .features-flex-item {
        flex-basis: 500px;
        display: flex;
        flex-flow: wrap;
        margin: 20px 10px;
        text-align: left;
        padding: 0px 20px;
        height: 100%;
        justify-content: center;
    }

    .features-image {
        margin-top: 5px;
        width: 140px;
        height: 140px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        display: flex;
        flex-grow: 0;
        filter: invert(0.12) sepia(1) hue-rotate(190deg) saturate(4) brightness(1.1);
        align-items: center;
        justify-content: center;
    }

    .features-text {
        padding: 0 20px;
        max-width: 360px;
        min-width: 280px;
        flex: 1;
    }
    
    p:first-child {
        margin-top: 15px;
    }

    p {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 90%;
    }

    strong {
        color: #293d66;
    }

    img {
        width: 48px;
        height: 48px;
    }

    @media screen and (max-width: 1200px) {
        .features-text {
            padding: 0 40px;
            max-width: 550px;
        }
    }

    @media screen and (max-width: 750px) {
        .features-flex-item {
            text-align: center;
        }

        .features-text {
            padding: 5px 20px 20px 20px;
        }

        .features-image {
            width: 100px;
            height: 100px;
        }

        img {
            width: 32px;
            height: 32px;
        }

        p:first-child {
            margin-top: 5px;
        }

        p {
            margin-top: 0px;
        }
    }


}