$footer-meta-height: 60px;

.footer {
  width: 100vw;
  border-top: 1px solid #dadee6;

  a:not(.btn) {
    color: $c-text;
    text-decoration: none;
    &:hover {
      color: $c-primary;
    }
    &.active {
      font-weight: bold;
      color: $c-text-alt;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
    color: $c-text-alt;
    @include min-width {
      margin-bottom: 3px;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: $site-width;
    margin: 0 auto;
    @include max-width {
      flex-direction: column;
      height: auto;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    @include max-width {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }
  }

  &__right {
    @include max-width {
      width: 100%;
    }
  }

  &__nav {
    display: flex;
    align-items: flex-start;
    flex: 1 1 auto;
    padding: 50px 0 40px 0;
    font-size: 1.6rem;
    line-height: 1.75;
    @include min-width {
      // padding-right: 100px;
    }
    @include max-width-md {
      flex-wrap: wrap;
    }
    @include max-width {
      flex-direction: column;
      padding: 20px 24px 12px;
    }

    &-col {
      display: flex;
      flex-direction: column;
      margin: 0 10px 24px;
      @include min-width {
        flex: 0 1 180px;
      }
      @include max-width {
        margin: 0 0 12px;
      }

      ul {
        @include reset-list-styling;
      }

      + .footer__nav-col {
        @include min-width {
          // margin-left: 50px;
        }
        @include max-width {
          // margin-top: 24px;
        }
      }
    }
  }

  &__newsletter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px 0 40px 0;
    @include min-width {
      flex: 0 1 375px;
    }
    @include max-width {
      padding: 0 24px 24px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-weight: bold;
    font-size: 3rem;
    color: $c-text-alt;

    svg {
      margin-right: 3px;
    }
  }

  &__legal {
    flex: 1 1 auto;
    font-size: 1.6rem;
    @include min-width {
      padding-right: 22px;
    }

    &-list {
      @include reset-list-styling;
      display: flex;
      flex-wrap: wrap;
      @include max-width {
        flex-direction: column;
        padding: 6px 24px;
        border-bottom: 1px solid $c-border;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: $footer-meta-height;
      padding: 10px;
      @include max-width {
        justify-content: flex-start;
        height: 36px;
        padding: 6px 0;
      }
    }
  }

  &__slots {
    justify-content: space-around;
  }

  &__slot {
    @include standard-padding;
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
    @include min-width {
      align-items: center;
      text-align: center;
    }
    @include max-width {
      font-size: 1.6rem;
    }

    + .footer__slot:before {
      position: absolute;
      left: 0;
      top: $standard-padding;
      bottom: $standard-padding;
      width: 1px;
      background: $c-border;
      content: '';
      @include max-width {
        top: 0;
        left: 0;
        right: 0;
        bottom: auto;
        width: auto;
        height: 1px;
      }
    }

    .footer__title {
      margin-bottom: 0;
    }

    .footer__text {
      margin-top: 8px;
    }

    .btn,
    .footer__title,
    .footer__text {
      @include min-width {
        max-width: 384px;
      }
    }
  }

  &__meta {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    @include max-width {
      flex-direction: column-reverse;
    }
  }

  &__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include min-width {
      flex: 0 1 375px;
    }
    @include max-width {
      padding: 8px 12px;
      border-top: 1px solid $c-border;
    }

    &-link {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      &:hover svg {
        fill: white;
      }
      &:before {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        content: '';
      }
      &.lin:hover:before {
        background: #0077B5;
      }
      &.xin:hover:before {
        background: #007575;
      }
      &.fac:hover:before {
        background: #0077B5;
      }
      &.twi:hover:before {
        background: #1DA1F2;
      }
      &.you:hover:before {
        background: #FF0201;
      }
      &.med:hover:before {
        background: #292929;
      }
    }

    svg {
      display: block;
      fill: $c-text;
    }
  }
}