.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  background-color: #fff;
  border-bottom: 1px solid #dadee6;

  a {
    text-decoration: none;
  }

  .icon {
    margin-right: 3px;
  }

  .icon-spaced {
    margin-right: 8px;
  }

  .icon-caret {
    vertical-align: bottom;
    margin-left: -5px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $site-width;
    height: $header-height;
    margin: 0 auto;
    @include max-width {
      height: $header-height-mobile;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    @include max-width {
      flex: 1 1 100%;
      justify-content: space-between;
    }
  }

  &__right {
    display: flex;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-top: -3px;
    font-weight: bold;
    font-size: 3rem;
    color: $c-text-alt;
    @include max-width {
      font-size: 2.4rem;
    }

    img {
      margin-right: 3px;
      @include max-width {
        height: 26px;
      }
    }
  }

  &__phone {
    align-items: center;
    display: flex;
    padding-right: 15px; 
    font-size: 1.8rem; 
    color: #60718e;
    &__number {
      color: #60718e;
    } 
    @include max-width-md {
      display: none;
    }
  }

  &__separator {
    margin: 10px; 
    border-left: 1.5px solid #dbdfe7;
    @include max-width-md {
      display: none;
    }
  }

  &__nav {
    @include max-width {
      display: none;
    }

    &-list {
      @include reset-list-styling;
      display: flex;
    }

    a {
      padding: 10px;
      font-size: 1.8rem;
      color: $c-text;
      &:hover {
        color: $c-primary;
      }
      &.active {
        font-weight: bold;
        color: $c-text-alt;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 1.6rem;
    font-weight: bold;
    color: $c-text;
    @include max-width {
      display: none;
    }
    &:hover {
      color: $c-primary;
    }

    + .btn {
      margin-left: 20px;
    }
  }

  &__btn {
    margin: 10px;
    @include max-width {
      display: none;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  &__mobile-nav-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 10px;
    margin-left: -10px;
    margin-right: 10px;
    box-sizing: content-box;
    @include min-width {
      display: none;
    }

    > span {
        position: relative;
        width: 24px;
        height: 3px;
        border-radius: 1.5px;
        background-color: $c-text;
        &:before,
        &:after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1.5px;
        background-color: $c-text;
        content: '';
      }
      &:before {
        top: -7px;
      }
      &:after {
        top: 7px;
      }
    }
  }
}

/* Styling the sub menu */

.submenu {
  position: relative;
}

.submenu:hover {
  position: relative;
  font-weight: bold;
}

.submenu ul {
  position: absolute;
  background: white;
  padding: 5px 10px; 
  margin: 5px 0px 0px -10px;
  display: none;
  box-shadow: 0px 0px 10px #DDD;
}

.submenu li{
  display: block;
  background: white;
  color: white;
  float: none;
  width: 100%;
  font-weight: normal;
}

/* Styling drop down links */
.submenu li a {
  background: transparent;
  padding:10px;
  display: block;
}

// .submenu li a:hover {
//   background: gray;
// }

/* Showing Submenu on hover*/
.submenu:hover ul {
  display: block;
}