.heading {
  @include half-padding;
  @include richtext-styling;
  text-align: center;

  &--left {
    text-align: left;
  }
}

.price-separator {
  padding: 0px;
  h2 {
    font-size: 28px;
    line-height: 28px;
    margin: 0px;
    margin-top: -2px;
  }  
}
