.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #dadee6;

  a {
    text-decoration: none;
  }

  &__container {
    @include site-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-weight: bold;
    font-size: 3rem;
    color: var(--c-text-dark);

    img {
      margin-right: 3px;
    }
  }

  &__nav {
    @include reset-list-styling;
    display: flex;

    a {
      padding: 10px;
      color: var(--c-text);
    }
  }
}
