.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  background-color: #fff;
  border-bottom: 1px solid #dadee6;

  a {
    text-decoration: none;
  }

  .btn {
    height: 50px;
    line-height: 50px;
  }

  &__container {
    @include site-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    @include max-width {
      height: 64px;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    @include max-width {
      flex: 1 1 100%;
      justify-content: space-between;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-weight: bold;
    font-size: 3rem;
    color: var(--c-text-alt);
    @include max-width {
      font-size: 2.4rem;
    }

    img {
      margin-right: 3px;
      @include max-width {
        height: 26px;
      }
    }
  }

  &__nav {
    margin-top: 3px;
    @include max-width {
      display: none;
    }

    &-list {
      @include reset-list-styling;
      display: flex;
    }

    a {
      padding: 10px;
      color: var(--c-text);
      &:hover {
        color: var(--c-primary);
      }
      &.active {
        font-weight: bold;
        color: var(--c-text-alt);
      }
    }
  }

  &__btn {
    @include max-width {
      display: none;
    }
  }

  &__mobile-nav-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 10px;
    margin-left: -10px;
    margin-right: 10px;
    box-sizing: content-box;
    @include min-width {
      display: none;
    }

    > span {
        position: relative;
        width: 24px;
        height: 3px;
        border-radius: 1.5px;
        background-color: var(--c-text);
        &:before,
        &:after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1.5px;
        background-color: var(--c-text);
        content: '';
      }
      &:before {
        top: -7px;
      }
      &:after {
        top: 7px;
      }
    }
  }
}
