// hub spot cookie consent

// outer element
div#hs-eu-cookie-confirmation.hs-cookie-notification-position-bottom {
  position: fixed !important;
  left: 0 !important;
  right: 0 !important;
  background: rgba(#006df2, .9) !important;

  // inner element
  div#hs-eu-cookie-confirmation-inner {
    padding: 10px;
    background: transparent !important;
    @media only screen and (min-width: 960px) {
      display: flex;
      align-items: center
    }

    a {
      color: white !important;
      text-decoration: underline !important;
    }

    p {
      margin: 0 !important;
      color: white !important;
    }

    div#hs-en-cookie-confirmation-buttons-area {
      @media only screen and (min-width: 960px) {
        display: flex;
      }
    }

    a#hs-eu-confirmation-button {
      color: #006df2 !important;
      background-color: white !important;
      font-weight: bold !important;
    }

    a#hs-eu-decline-button {
      color: white !important;
    }
  }
}