.intro {
  @include site-width($narrow: true);
  @include vertical-unit-margins;
  display: flex;
  align-items: center;
  @include max-width {
    flex-direction: column-reverse;
  }

  .content {
    @include min-width {
      flex: 1 1 100%;
      padding: 0 40px;
    }
  }

  .hide-for-mobile {
    @include min-width {
      flex: 1 1 100%;
      padding: 0 40px;
    }
    @include max-width {
      margin: 40px auto;
    }
  }

  .btn {
    @include max-width {
      display: block;
    }
  }

  &__partner {
    display: flex;
    align-items: center;
    margin-top: 20px;
    @include min-width {
      max-width: 350px;
    }

    &-img {
      flex: 1 0 auto;
      max-width: 50px;
      margin-right: 10px;
    }

    &-text {
      font-weight: bold;
      font-size: 1.4rem;
      line-height: 1.21;
      text-align: left;
      color: $c-text-alt;
    }
  }
}
