.intro {
  @include site-width;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 140px 0 180px;
  @include max-width {
    flex-direction: column-reverse;
    margin: 40px 0 60px;
  }

  h1 {
    margin: 0;
  }

  &__image {
    max-width: 620px;

    img {
      display: block;
      max-width: 100%;
    }
  }

  &__text {
    max-width: 595px;
    @include min-width {
      padding: 0 30px;
    }
  }

  &__partner {
    display: flex;
    align-items: center;
    margin-top: 20px;

    &-img {
      flex: 1 0 auto;
      max-width: 50px;
      margin-right: 10px;
    }

    &-text {
      font-weight: bold;
      font-size: 1.4rem;
      line-height: 1.21;
      color: var(--c-text-dark);
    }
  }
}
