.intro {

  &-inner {
    display: flex;
    align-items: center;
    @include max-width {
      flex-direction: column-reverse;
    }
  }

  &__body {
    @include min-width {
      flex: 1 1 0%;
      padding: 0 40px 0 0;
    }

    + .hide-for-mobile {
      padding-right: 0;
    }
  }

  &__img {
    @include min-width {
      flex: 1 1 0%;
      padding: 0 40px 0 0;
    }
    @include max-width {
      margin: 40px auto;
    }
  }

  .btn {
    margin-top: 20px;
    @include max-width {
      width: 100%;
    }
    
    + .btn {
      margin-left: 16px;
      @include max-width {
        margin-left: 0;
      }
    }
  }

  .markdown {
    @include min-width {
      flex: 1 1 0%;
      padding: 0 40px 0 0;
    }

    + .hide-for-mobile {
      padding-right: 0;
    }
  }

  .hide-for-mobile {
    @include min-width {
      flex: 1 1 0%;
      padding: 0 40px 0 0;
    }
    @include max-width {
      margin: 40px auto;
    }

    + .markdown {
      padding-right: 0;
    }
  }

  .picture {
    padding: 0;
    @include max-width {
      margin-top: 22px;
      margin-bottom: 44px;
    }

    picture {
      overflow: hidden;
    }
  }

  &__partner {
    display: flex;
    align-items: center;
    margin-top: 20px;
    @include min-width {
      max-width: 500px;
    }

    &-img {
      flex: 1 0 auto;
      max-width: 50px;
      margin-right: 10px;
    }

    &-text {
      font-weight: bold;
      font-size: 1.4rem;
      line-height: 1.21;
      text-align: left;
      color: $c-text-alt;
    }
  }
}
