.lan-nav {
  @include reset-list-styling;
  display: flex;
  @include max-width {
    flex-direction: column;
    padding: 6px 24px;
  }

  a {
    padding: 10px;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--c-text);
    @include max-width {
      display: block;
      padding: 6px 0;
    }
    &:hover {
      color: var(--c-primary);
    }
    &.active {
      font-weight: bold;
      color: var(--c-text-alt);
    }
  }
}
