.lan-nav {
  @include reset-list-styling;
  display: flex;
  @include min-width {
    margin-right: 44px;
  }
  @include max-width {
    flex-direction: column;
    padding: 6px 24px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $footer-meta-height;
    padding: 10px;
    text-decoration: none;
    font-size: 1.6rem;
    color: $c-text;
    @include max-width {
      justify-content: flex-start;
      height: 36px;
      padding: 6px 0;
    }
    &:hover {
      color: $c-primary;
    }
    &.active {
      font-weight: bold;
      color: $c-text-alt;
    }
  }
}
