.logos-container {
  @media screen and (max-width: 1100px) {
    padding-right: 15%;
    padding-left: 15%;
  }
  
  .logos-title {
    margin-bottom: 40px;
    text-align: center;
    color: $c-text-alt;
    @media screen and (max-width: 600px) {
      text-align: center;
      margin-bottom: 40px;

    }
  }

  .logos-flex-container {
      padding: 0px 0px 0px 0px;
      list-style: none;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;

      flex-flow: wrap;
      -webkit-flex-flow: row wrap;
      justify-content: space-between;
    }
}