.logos-item {    
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 1100px) {
        margin-bottom: 60px;
    }

    @media screen and (max-width: 600px) {
        width: 100%;
        margin-bottom: 40px;
    }

    .logos-flex-item {
        margin: 10px;
        text-align: center;
        align-items: center;
        display: flex;

        @media screen and (max-width: 970px) {
            text-align: center;
            margin-bottom: 70px;
        }

        @media screen and (max-width: 460px) {
            text-align: center;
            margin-bottom: 24px;
        }
    }
}