@mixin site-width($narrow: false) {
  display: block;
  width: 1400px;
  max-width: 100%;
  padding-right: 24px;
  padding-left: 24px;
  margin-left: auto;
  margin-right: auto;
  @if $narrow {
    width: 768px;
  }
}

@mixin half-padding {
  padding-top: $standard-padding / 2;
  padding-bottom: $standard-padding / 2;
}

@mixin standard-padding {
  padding-top: $standard-padding;
  padding-bottom: $standard-padding;
}

@mixin double-padding {
  padding-top: 2 * $standard-padding;
  padding-bottom: 2 * $standard-padding;
  @include max-width {
    padding-top: $standard-padding;
    padding-bottom: $standard-padding;
  }
}

@mixin h1-styling {
  h1 {
    margin: 0 0 12px 0;
    font: bold 3.8rem/1.15 $averta;
    color: $c-text-alt;
    @include max-width {
      font-size: 3rem;
    }

    + p {
      margin: 12px 0 0 0;
    }

    + h2 {
      margin-top: 40px;
    }
  }
}

@mixin richtext-styling {
  @include h1-styling;
  h2 {
    margin: 12px 0;
    font: bold 2.4rem/1.35 $averta;
    color: $c-text-alt;
    @include max-width {
      font-size: 2rem;
    }

    + p {
      margin: 12px 0 0 0;
    }
  }

  h3, h4 {
    margin: 2.6rem 0 0;
    font: bold 2rem/1.4 $averta;
    color: $c-text-alt;
    @include max-width {
      font-size: 1.8rem;
    }

    + p,
    + ol,
    + ul {
      margin-top: 0;
    }
  }

  a:not(.btn) {
    color: $c-text;
    transition: color .36s cubic-bezier(0.4, 0.0, 0.2, 1);
    &:hover {
      color: $c-primary;
    }
  }

  p {
    margin: 1.444em 0;
    + h2 {
      margin-top: 40px;
    }
  }

  ul,
  ol {
    padding: 0;

    + h2 {
      margin-top: 40px;
    }
  }

  ul {
    list-style-type: none;

    li {
      position: relative;
      padding-left: 1em;
      &:before {
        position: absolute;
        left: 0;
        top: 11.5px;
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $c-text;
        content: '';
      }
    }
  }

  li {
    margin: .5em 0;
  }

  dl {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid $c-border;
    text-align: left;
  }

  dt {
    flex: 0 0 30%;
    max-width: 30%;
    padding: 22px 22px 22px 0;
    border-top: 1px solid $c-border;
    font-weight: bold;
    font-size: 2rem;
    color: $c-text-alt;
    @include max-width {
      flex-basis: 100%;
      max-width: none;
      padding-right: 0;
    }
  }

  dd {
    flex: 0 0 70%;
    max-width: 70%;
    margin-left: 0;
    padding: 22px 0 22px 22px;
    border-top: 1px solid $c-border;
    @include max-width {
      flex-basis: 100%;
      max-width: none;
      padding-left: 0;
      padding-top: 0;
      border-top: 0;
    }
  }

  strong {
    color: $c-text-alt;
  }
}

@mixin reset-list-styling {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin max-width {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin max-width-xs {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin min-width {
  @media (min-width: 768px) {
    @content;
  }
}