@mixin site-width {
  display: block;
  width: 1400px;
  max-width: 100vw;
  padding-right: 24px;
  padding-left: 24px;
  margin-left: auto;
  margin-right: auto;
}

@mixin vertical-unit-margins {
  margin-top: 140px;
  margin-bottom: 140px;
  @include max-width {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@mixin reset-list-styling {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin max-width {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin min-width {
  @media (min-width: 768px) {
    @content;
  }
}