@mixin site-width($narrow: false) {
  display: block;
  width: 1400px;
  max-width: 100%;
  padding-right: 24px;
  padding-left: 24px;
  margin-left: auto;
  margin-right: auto;
  @if $narrow {
    width: 1104px;
  }
}

@mixin vertical-unit-margins {
  margin-top: 140px;
  margin-bottom: 140px;
  @include max-width {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@mixin add-richtext-styling {
  h1, h2 {
    margin: 0 0 10px 0;
    font: bold 4rem/1.1 var(--averta);
    color: var(--c-text-alt);
    @include max-width {
      font-size: 3rem;
    }

    + p {
      margin: 10px 0 0 0;
    }
  }
}

@mixin reset-list-styling {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin max-width {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin max-width-xs {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin min-width {
  @media (min-width: 768px) {
    @content;
  }
}