.newsletter {
  @include set-site-width;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 140px 0;

  &__image {
    max-width: 400px;
    margin-right: 30px;

    img {
      display: block;
      max-width: 100%;
    }
  }

  &__text {
    text-align: center;
  }
}
