.newsletter {
  @include site-width;
  @include vertical-unit-margins;
  display: flex;
  justify-content: center;
  align-items: center;
  @include max-width {
    flex-direction: column;
  }

  &__image {
    max-width: 400px;
    @include min-width {
      margin-right: 30px;
    }

    img {
      display: block;
      max-width: 100%;
    }
  }

  &__text {
    text-align: center;
  }

  &__form {
    text-align: left;

    label {
      display: block;
      margin-bottom: 15px;
      font-weight: bold;
      color: var(--c-text-alt);
    }

    .actions {
      text-align: center;
    }

    .hs_email {
      text-align: left;
    }

    .hs-input {
      width: 100%;
      height: 5.6rem;
      padding: 0 24px;
      border: 1px solid var(--c-border);
      border-radius: 3px;
      font: normal 1.8rem/1 var(--averta);
      color: var(--c-text-alt);
      &:focus {
        border: 2px solid var(--c-primary);
        outline: 0;
      }
    }

    .hs-button {
      display: inline-block;
      height: 6.4rem;
      min-width: 19.2rem;
      margin: 40px 0;
      padding: .8rem 2rem;
      border: 2px solid var(--c-primary);
      border-radius: 3px;
      background: var(--c-primary);
      line-height: 1;
      white-space: nowrap;
      cursor: pointer;
      color: #fff;
      appearance: none;
      text-align: center;
      box-sizing: border-box;
      outline: none;
      user-select: none;
      font: bold 2rem/1 var(--averta);
      letter-spacing: .4px;
      text-decoration: none;
    }

    .submitted-message {

    }

    .hs-error-msgs  {
      margin: 10px 24px;
      padding: 0;
      list-style-type: none;

      label {
        font: normal 1.2rem/1 var(--averta);
        color: var(--c-text);
      }
    }
  }
}
