.outro {
  @include double-padding;
  @include min-width {
    padding-top: 120px;
  }

  .heading {
    padding: 0;
  }

  .btn {
    @include max-width {
      width: 100%;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    width: $outro-width;
    @include max-width {
      flex-direction: column;
    }
  }

  .richtext {
    text-align: center;
    @include min-width {
      flex: 1 1 100%;
      padding: 0 40px;
    }
  }

  .picture {
    max-width: 494px;
    @include min-width {
      flex: 1 1 100%;
      padding: 0 40px;
    }
  }

  .mobile-link {
    margin: 20px 0;
  }
}

