.outro {
  @include double-padding;
  @include min-width {
    padding-top: 120px;
  }

  .btn {
    margin-top: 20px;
    @include max-width {
      width: 100%;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    width: $outro-width;
    @include max-width {
      flex-direction: column;
    }
  }

  &__body {;
    max-width: 606px;
    text-align: center;
    @include min-width {
      flex: 1 1 100%;
      padding: 0 40px;
    }
  }

  .picture {
    max-width: 494px;
    @include min-width {
      flex: 1 1 100%;
      padding: 0 40px;
    }
  }

  &__link {
    margin: 20px 0;
    // TODO: not happy with that. links should be standardized. We should
    // revisit all links and provide a single global class.
    color: $c-text-alt;
    text-decoration: none;
    &:hover {
      color: $c-primary;
    }
  }
}

