$partner-width: 140px;

.partners {

  &__inner {
    display: flex;
    flex-wrap: wrap;
    @include max-width {
      justify-content: center;
    }
  }
}

.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 25%;
  margin: 10px 0 20px;
  @include max-width {
    flex-basis: 50%;
  }

  &__logo {
    @include skribble-shadow;
    @include persistent-motion;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $partner-width;
    height: $partner-width;
    margin: 10px;
    border-radius: 4px;
    background-color: #fff;
    text-decoration: none;
    transition-property: box-shadow;
    &:hover {
      @include skribble-shadow-hover;

      + .partner__label {
        color: $c-primary;
      }
    }

    img {
      pointer-events: none;
    }
  }

  &__label {
    @include persistent-motion;
    display: block;
    padding: 16px 10px;
    text-align: center;
    font: bold 1.6rem/1.3 $averta;
    color: $c-text-alt;
    transition-property: color;
  }
}