.person {

  img {
    display: block;
    max-width: 100%;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
    @include max-width {
      flex: 0 1 50%;
      align-items: stretch;
      height: auto;
    }
    @include max-width-xs {
      flex-basis: 100%;
      margin-bottom: 40px;
    }
    &:nth-child(odd) {
      @include min-width {
        align-items: flex-start;
        justify-content: flex-start;
      }
    }
    &:nth-child(even) {
      @include min-width {
        align-items: flex-end;
        justify-content: flex-end;
      }
    }
    &:nth-child(2n - 1) {
      padding-right: 12px;
      @include max-width-xs {
        padding-right: 0;
      }
    }
    &:nth-child(2n) {
      padding-left: 12px;
      @include max-width-xs {
        padding-left: 0;
      }
    }
  }

  &__name {
    font-size: 2.4rem;
    font-weight: bold;
    color: $c-text-alt;
    @include max-width {
      font-size: 2rem;
    }
  }

  &__position {
    font-size: 1.8rem;
  }

  &__image {
    @include min-width {
      margin-bottom: 10px;
    }
  }
}

.people {
  @include site-width();
  width: 1078px;
  display: flex;
  flex-direction: column;
  @include max-width() {
    flex-direction: row;
    flex-wrap: wrap;
  }
}