.plan {
  --price-plan-lateral-padding: 20px;
  $price-plan-width: 328px;
  width: $price-plan-width;
  max-width: 100%;
  @include max-width {
    margin-bottom: 20px;
  }

  &-inner {
    border-top: 7px solid transparent;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: rgba(#283E66, .1) 0 10px 20px 0;
  }

  &__title {
    padding: 4px var(--price-plan-lateral-padding) 25px;
    border-bottom: 1px solid #D8D8D8;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.1;
    color: $c-text-alt;
  }

  &__subtitle {
    padding: 28px var(--price-plan-lateral-padding) 0;
    font-size: 1.6rem;
    font-weight: bold;
    color: $c-text-alt;
  }

  &__description {
    padding: 17px var(--price-plan-lateral-padding) 20px;
  }

  &__details {
    padding: 13px var(--price-plan-lateral-padding) 25px;
    border-top: 1px solid #D8D8D8;
  }

  &__lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
  }

  &__per {
    font-size: 1.6rem;
  }

  &__cost {
    text-align: right;
  }

  &__price {
    font-size: 4rem;
    font-weight: bold;
    color: $c-text-alt;
  }

  &__addendum {
    font-size: 1.6rem;
  }

  &--gold {
    border-color: $c-warning;
  }

  &--platinum {
    border-color: $c-info;
  }

  &__discounts {
    margin: 10px 20px;
    font-size: 1.4rem;
    line-height: 1.14;
    color: $c-text-alt;

    &-table {
      width: 100%;
      border-collapse: collapse;
    }

    tr {
      &.first td {
        padding-top: 10px;
      }
      &:last-child td {
        padding-bottom: 10px;
        border-bottom: 1px solid #D8D8D8;
      }
    }

    th {
      padding: 14px 0;
      border-bottom: 1px solid #D8D8D8;
      font-size: 1.6rem;
      font-weight: bold;
      text-align: left;
    }

    td {
      padding: 4px 0;
      &:last-child {
        text-align: right;
      }
    }
  }
}
