$ns: pricing;

.#{$ns} {
  &-group {
    
    &__inner {
      display: flex;
      @include max-width {
        flex-direction: column;
        align-items: center;
      }
    }

    .#{$ns}-col {
      flex: 0 0 33%;
      margin-bottom: 20px;
      @include max-width {
        max-width: 305px;
      }
      &:nth-child(1) {
        @include min-width {
          padding: 0 20px 0 0;
        }
      }
      &:nth-child(2) {
        @include min-width {
          padding: 0 10px;
        }
        .#{$ns}-card:before {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 8px;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
          background: $c-primary;
          content: '';
        }

        .#{$ns}-highlights .markdown li:before {
          content: url('/pricing-check-filled.svg');
        }
      }
      &:nth-child(3) {
        @include min-width {
          padding: 0 0 0 20px;
        }
      }
    }
  }

  &-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 540px;
    border-radius: 2px;
    box-shadow: 0px 0px 10px #d4d8e0;
    font-size: 1.6rem;
    &:lang(de) {
      min-height: 520px;
    }

    &__small {
      display: block;
      font-size: 1.2rem; 
      line-height: 1.333;
    }

    &__value {
      display: block;
      font-weight: bold;
      font-size: 8.4rem;
      line-height: 6rem;
      color: $c-text-alt;
    }

    &__special {
      font-size: 3.4rem;
      font-weight: bold;
      line-height: 1.11;
    }
    
    &__price {
      display: flex;
      padding-bottom: 10px;
      color: $c-text-alt;
    }
    
    &__unit {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 0 10px;
      color: $c-text-alt;
      line-height: 1.8rem;
    }

    &__cta {
      width: 100%;
      height: 60px;
      margin-top: 20px;
      font-size: 1.8rem;
    }

    &__more {
      align-self: center;
      display: inline-block;
      padding: 10px 30px;
      margin: 10px auto 0;
      border: 0;
      background: transparent;
      text-align: center;
      font-size: 1.6rem;
      font-weight: bold;
      color: $c-primary;
      text-decoration: none;
    }
    
    &__features {
      flex-grow: 1;
      align-self: flex-end;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;

      &-block {
        display: flex;
        flex-direction: column;
        min-height: 70px;
      }
      &-title {
        margin-bottom: 14px;
        font-weight: bold;
        color: $c-text-alt;
      }
    }
    
    &__header {
      padding: 20px;
      border-bottom: 1px solid $c-border;
      
      h2 {
        padding-top: 8px;
        font-size: 3rem;
      }
    }
    
    &__conditions {
      display: flex;
      flex-direction: column;
      min-height: 154px;
      justify-content: space-between;
      padding: 20px;
      border-bottom: 1px solid $c-border;
    }

    &__features {
      padding: 20px;
    }
  }

  &-highlights {
    padding: 20px;
    font-size: 1.4rem;

    .markdown {

      ul {
        list-style-type: none;
      }

      li {
        margin: 14px 0;
        padding-left: 30px;
        line-height: 1.286;
        &:before {
          top: 2px;
          width: 20px;
          height: 20px;
          background: transparent;
          content: url('/pricing-check.svg');
        }
      }
    }

    &__title {
      margin: 10px 0 20px;
      font-size: 1.8rem;
      font-weight: bold;
      color: $c-text-alt;
    }
  }

  &-table {
    width: 100%;
    font-size: 1.4rem;
    
    // Section above the table containing the legend for mobile
    &__legend {
      display: flex;
      justify-content: space-between;
      padding-bottom: 16px;
      margin-bottom: 20px;
      border-bottom: 1px solid $c-border;
      font-weight: bold;
      color: $c-text-alt;
      
      &-title {
        padding-right: 16px;
        font-size: 2rem;
      }
      
      &-plans {
        display: flex;
        flex-direction: column;
        font-size: 1.8rem;
        white-space: nowrap;
      }
    }

    // On mobile, where there's no space for text, we show it in mobile-details
    &__mobile-details {
      display: flex;
      flex-direction: column;
      margin-top: 2px;

      strong {
        align-self: flex-start;
        color: $c-text-alt;
      }

      span {
        display: flex;
        align-items: center;

        img {
          width: 20px;
          height: 20px;
          margin: 1px 5px 1px 0;
        }
      }
    }

    // Section below the table containing the ctas
    &__btn {
      margin: 30px 0 0;
      display: flex;
      flex-direction: column;

      + .#{$ns}-table__btn {
        margin-top: 5px;
      }

      .btn {
        height: 60px;
        margin-top: 16px;
        font-size: 1.8rem;
      }
    }

    &__plan-title {
      font-size: 2rem;
      font-weight: bold;
      color: $c-text-alt;
    }

    &__more {
      align-self: center;
      padding: 10px 30px;
      margin: 10px auto 0;
      font-size: 1.6rem;
      font-weight: bold;
      color: $c-primary;
      text-decoration: none;
    }

    table {
      width: 100%;
      border-spacing: 5px 0;
    }

    th, td {
      width: 200px;
      text-align: center;
      vertical-align: middle;
      &:first-child {
        width: 320px;
        text-align: left;
      }
    }

    th {
      padding: 17px 0;
      border-bottom: 1px solid $c-border;
      font-size: 2.4rem;
      font-weight: bold;
      color: $c-text-alt;
      @include max-width {
        padding: 9px 0;
      }
    }

    td {
      padding: 17px 0;
      border-bottom: 1px solid $c-border;
      text-align: center;
      font-weight: bold;
      color: $c-text-alt;
      @include max-width {
        padding: 9px 0;
      }
      &:first-child:not(.#{$ns}-table__plan-title) {
        font-weight: normal;
        text-align: left;
        color: $c-text;
      }
      &:nth-child(3) {
        background-color: #e5f0fe;
      }
    }

    tr.no-border td {
      padding-top: 30px;
      border: 0;
      &:nth-child(3) {
        background-color: transparent;
      }
    }

    img {
      margin: 0 auto;
      width: 24px;
      height: 24px;
    }
  }
}