.pricing {
  @include set-site-width;
  margin: 140px auto;

  &__title {
    text-align: center;
  }

  &__text {
    margin-bottom: 50px;
    text-align: center;
  }

  &__plans {
    display: flex;
    justify-content: center;
    align-items: stretch;
  }

  &__price-plan {
    margin: 16px;
  }
}
