.pricing {
  @include site-width;
  @include vertical-unit-margins;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    text-align: center;
  }

  &__text {
    margin-bottom: 50px;
    text-align: center;
  }

  &__plans {
    display: flex;
    justify-content: center;
    align-items: stretch;
    @include max-width {
      flex-direction: column;
    }

    &-wrapper {
      margin: 16px;
    }
  }
}
