.richtext {
  @include richtext-styling;

  .lead {
    font: normal 2.4rem/1.35 $averta;
    @include max-width {
      font-size: 1.8rem;
    }
  }

  ul li strong small {
    color: #60718e;
  }
}
