.richtext {
  a {
    color: var(--c-text);
    transition: color .36s cubic-bezier(0.4, 0.0, 0.2, 1);
    &:hover {
      color: var(--c-primary);
    }
  }

  img {
    display: block;
    max-width: 100%;
    margin: 40px auto;
  }

  > ul,
  > ol {
    padding: 0;
    @include max-width {
      list-style-position: inside;
    }
  }

  li {
    margin: .5em 0;
  }

  h1 {
    margin: 8rem 0 4rem;
    font: bold 4rem/1.1 var(--averta);
    color: var(--c-text-alt);
    @include max-width {
      font-size: 3rem;
    }
  }

  h2 {
    margin: 5rem 0 3rem;
    font: bold 2.4rem/1.35 var(--averta);
    color: var(--c-text-alt);
    @include max-width {
      font-size: 2rem;
    }
  }

  h3 {
    margin: 3rem 0 0;
    font: bold 2rem/1.4 var(--averta);
    color: var(--c-text-alt);
    @include max-width {
      font-size: 1.8rem;
    }

    + p,
    + ol,
    + ul {
      margin-top: 0;
    }
  }

  .lead {
    font: normal 2.4rem/1.35 var(--averta);
    @include max-width {
      font-size: 1.8rem;
    }
  }
}
