.row {
  @include half-padding;
  display: flex;
  justify-content: center;
  @include max-width {
    flex-direction: column;
    align-items: center;
  }

  .plan {
    @include min-width {
      margin: 16px;
    }
    @include min-width {
      margin: 0 16px;
      align-self: stretch;
    }

    &-inner {
      width: 100%;
      height: 100%;
    }
  }
}
