.show-hide-button {
    text-align: center;
    margin: 6px 24px 100px 24px;

    #show, .show-content {
        display: none;
    }

    #show:checked ~ .show-content {
        display: block;
    }

    #show:checked ~ label {
        display: none;
    }
}

