.side-by-side {
  @include site-width($narrow: true);
  @include vertical-unit-margins;
  display: flex;
  align-items: center;
  @include max-width {
    flex-direction: column;
  }

  .content {
    @include min-width {
      flex: 1 1 100%;
      padding: 0 40px;
    }
    @include max-width {
      order: -1;
    }
  }

  .picture {
    @include min-width {
      flex: 1 1 100%;
      padding: 0 40px;
    }
  }
}
