.side-by-side {

  &-inner {
    display: flex;
    align-items: center;
    @include max-width {
      flex-direction: column;
    }
  }

  &__body {
    &:first-child {
      @include min-width {
        padding: 0 30px 0 0;
      }
    }
    &:last-child {
      @include min-width {
        padding: 0 0 0 30px;
      }
    }
    @include min-width {
      flex: 1 1 0%;
    }
    @include max-width {
      order: -1;
    }
    + .hide-for-mobile {
      padding-right: 0;
    }
  }

  &__img {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @include min-width {
      flex: 1 1 0%;
    }
    @include max-width {
      margin: 40px auto;
    }
    // align image to the right when the image is on the left
    &:first-child {
      @include min-width {
        align-items: flex-end;
        padding: 0 30px 0 0;
      }
    }
    &:last-child {
      @include min-width {
        padding: 0 0 0 30px;
      }
    }
  }
}
