.side-by-side {
  @include standard-padding;
  @include site-width;
  display: flex;
  align-items: center;
  width: $side-by-side-width;
  @include max-width {
    flex-direction: column;
  }

  .richtext {
    @include min-width {
      flex: 1 1 100%;
    }
    @include max-width {
      order: -1;
    }
    &:first-child {
      @include min-width {
        padding-right: 30px;
      }
    }
    &:last-child {
      @include min-width {
        padding-left: 30px;
      }
    }

    h2:first-child {
      margin-top: 0;
    }
  }

  .picture {
    @include min-width {
      flex: 1 1 100%;
    }
    &:first-child {
      @include min-width {
        padding-right: 30px;
      }
    }
    &:last-child {
      @include min-width {
        padding-left: 30px;
      }
    }

    picture {
      overflow: hidden;
    }
  }
}
