.step {
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  @include max-width {
    flex: 1 1 100%;
    max-width: 340px;
    margin-bottom: 40px;
  }

  img {
    display: block;
    max-width: 100%;
    object-fit: contain;
  }

  .richtext {
    flex: 0 0 150px;
    max-width: 100%;
    padding: 20px 0;
    border-top: 1px solid $c-border;
    border-bottom: 1px solid $c-border;
    text-align: left;

    p {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
