.table, .table-dense {
  width: 100%;
  border-bottom: 1px solid $c-border;
  border-collapse: collapse;
  font-size: 1.6rem;

  tr {
    td {
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }

  td {
    padding: 16px 10px;
    border-top: 1px solid $c-border;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:nth-child(2) {
      max-width: 0;
    }
  }

  b, strong {
    font-size: 1.8rem;
    font-weight: bold;
    color: $c-text-alt;
  }

  a:not(.btn) {
    color: $c-primary;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      color: $c-text-alt;
    }
  }

  &__title {
     margin-bottom: 4px;
    font: bold 2rem/1.4 $averta;
    color: $c-text-alt;
    @include max-width {
      font-size: 1.8rem;
    }
  }
}