.table, .table-dense {
  width: 100%;
  border-bottom: 1px solid $c-border;
  border-collapse: collapse;
  font-size: 1.6rem;

  &-lock-container {
    overflow: hidden;
    @media only screen and (max-width: 870px) {
      overflow: auto;
      max-width: 100%;
      margin-left: 10px;
      margin-right: 10px;
    }

    .table {
      min-width: 870px;
    }
  }

  &--fixed {
    table-layout: fixed;
  }

  tr {
    td {
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }

  td {
    padding: 16px 10px;
    border-top: 1px solid $c-border;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:nth-child(2) {
      max-width: 0;
    }
  }

  b, strong {
    font-size: 1.8rem;
    font-weight: bold;
    color: $c-text-alt;
  }

  a:not(.btn) {
    color: $c-primary;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      color: $c-text-alt;
    }
  }

  &__title {
     margin-bottom: 4px;
    font: bold 2rem/1.4 $averta;
    color: $c-text-alt;
    @include max-width {
      font-size: 1.8rem;
    }
  }

  &--qualities {
    width: 870px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 0;

    p:last-child {
      margin-bottom: 0;
    }

    &, strong {
      font-size: 1.4rem;
    }

    thead th {
      width: 26%;
      height: 0;
      padding: 0;
      font-size: .1px;
      color: transparent;
      &:first-child {
        width: 22%;
      }
    }

    tbody {
      th {
        padding: 0;
        text-align: left;
      }
      tr {
        &:first-child td {
          border: 0;
        }
      }
    }

    tr td:last-child {
      padding-right: 20px;
    }

    td {
      border: 1px solid $c-border;
    }

    th {
      font-weight: bold;
      color: $c-text-alt;
    }

    th, td {
      padding: 20px;
      vertical-align: top;
      white-space: normal;
    }

    .table__row-title {
      position: relative;
      padding: 20px 0;

      &:before {
        position: absolute;
        left: 0;
        right: 40px;
        top: 0;
        height: 2px;
        background: $c-border;
        content: '';
      }
    }

    .signature-quality-bar,
    tr .signature-quality-bar:last-child {
      padding: 0;
      vertical-align: bottom;
    }
  }
}