.table, .table-dense {
  width: 100%;
  border-bottom: 1px solid $c-border;
  border-collapse: collapse;
  font-size: 1.6rem;

  &-wrapper {
    @include site-width($narrow: true);
    @include half-padding;
  }

  tr {
    td {
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }

  td {
    padding: 16px 10px;
    border-top: 1px solid $c-border;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:nth-child(2) {
      max-width: 0;
    }
  }

  b, strong {
    font-size: 1.8rem;
    font-weight: bold;
    color: $c-text-alt;
  }

  a:not(.btn) {
    color: $c-primary;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      color: $c-text-alt;
    }
  }

  &__title {
     margin-bottom: 4px;
    font: bold 2rem/1.4 $averta;
    color: $c-text-alt;
    @include max-width {
      font-size: 1.8rem;
    }
  }
}

.table-dense {
  width: 960px;
  margin: auto;
  margin-top: -64px;
  margin-bottom: 88px;
  border-top: 1px solid $c-border;
  font-size: 1.4rem;
  overflow-wrap: break-word;
  text-align: left;

  strong {
    font-size: 1.4rem;
  }

  th {
    padding: 15px 0px;
    color: $c-text-alt;
  }

  th:first-child, td:first-child {
    width: 80px;
  }

  th:nth-child(2), td:nth-child(2) {
    width: 100px;
  }

  th:nth-child(3), td:nth-child(3) {
    max-width: 100px;
  }

  th:nth-child(4), td:nth-child(4) {
    max-width: 100px;
  }

  th:nth-child(5), td:nth-child(5) {
    max-width: 100px;
  }

  td {
    vertical-align: top;
    padding: 24px 10px 24px 0px;
    white-space: break-spaces;

    ul {
      padding: 0px;
      margin: 0px;

      li:before {
        content: "•";
        margin: 0 0.5rem 0 0;
      }
    }
  }
}