.testimonial {
  @include site-width($narrow: true);
  @include standard-padding;
  display: flex;
  justify-content: center;
  align-items: stretch;
  @include max-width {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__quote {
    max-width: 490px;
    margin: 0;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 1.35;
    color: $c-text-alt;
    @include max-width {
      font-size: 2rem;
    }
  }

  &__footer {
    margin-top: 6px;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 1.44444;
    color: $c-text;
  }

  &__image {
    max-width: 150px;
    display: flex;
    align-items: flex-start;
    @include min-width {
      flex: 0 1 150px;
      padding-right: 30px;
    }
    @include max-width {
      padding-bottom: 22px;
    }

    img {
      display: block;
      max-width: 120px;
    }
  }
}