.title-subtitle {
  max-width: 700px;
  margin: 80px auto;
  text-align: left;
  @include max-width {
    margin-bottom: 30px;
  }

  &.align-center {
    text-align: center;
    // @include max-width {
    //   text-align: left;
    // }
  }

  &.is-wide {
    max-width: none;
  }

  h1 {
    margin: 0 0 10px 0;
    font: bold 4rem/1.1 var(--averta);
    color: var(--c-text-alt);
    @include max-width {
      font-size: 3rem;
    }

    + p {
      margin: 10px 0 0 0;
    }
  }

  &__lead {
    margin-bottom: 50px;
    text-align: center;
  }
}
