.title-subtitle {
  width: 688px;
  max-width: 100%;
  margin: 80px auto;
  text-align: left;
  @include max-width {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &.align-center {
    text-align: center;
  }

  &.is-wide {
    @include min-width {
      max-width: none;
    }
  }

  h1 {
    margin: 0 0 10px 0;
    font: bold 4rem/1.1 $averta;
    color: $c-text-alt;
    @include max-width {
      font-size: 3rem;
    }

    + p {
      margin: 10px 0 0 0;
    }
  }

  &__lead {
    margin-bottom: 50px;
    text-align: center;
  }
}
