$c-primary:                                                           #006df2;
$c-warning:                                                           #F4BD27;
$c-info:                                                              #814CBF;
$c-text:                                                              #60718e;
$c-text-alt:                                                          #293d66;
$c-border:                                                            #DADEE6;

$c-ses:                                                               #20ABFD;
$c-aes:                                                               #006FE6;
$c-qes:                                                               #00CC81;

$averta:                                              Averta, Arial, sans-serif;


$header-height:                                                            90px;
$header-height-mobile:                                                     64px;

$site-width:                                                             1200px;
$site-width-narrow:                                                       768px;
$side-by-side-width:                                                      918px;
$intro-width:                                                            1300px;
$outro-width:                                                            1100px;
$maps-width:                                                             1078px;

$standard-padding:                                                         44px;