<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
  <title>{{ .Title }}</title>

  <style>
    @font-face {font-family: 'Averta';font-display: fallback;src: url('/fonts/hinted-averta-regular.woff') format('woff');font-weight: normal;font-style: normal;}
    @font-face {font-family: 'Averta';font-display: fallback;src: url('/fonts/hinted-averta-extrabold.woff') format('woff');font-weight: bold;font-style: normal;}
  </style>

  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NF4Q7PS');</script>
  
  <!-- Matomo Tag Manager -->
<script type="text/javascript">
var _mtm = _mtm || [];
_mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
g.type='text/javascript'; g.async=true; g.defer=true; g.src='https://matomo.skribble.com/js/container_m6aRog4a.js'; s.parentNode.insertBefore(g,s);
</script>
<!-- End Matomo Tag Manager -->

  <meta name="theme-color" content="#293d66"/>
  <meta name="description" content="{{ .Description }}" />
  <meta name="format-detection" content="telephone=no">

  <!-- open graph and twitter -->
  <meta property="og:title" content="{{ .Title }}">

  <meta property="og:description" content="{{ .Description }}">
  <meta property="og:url" content="https://www.skribble.com/">
  <meta property="og:site_name" content="Skribble">
  <!-- use open graph image from pages, or if undefined use og-skribble -->
  {{ if .Params.og_image }}
    <meta property="og:image" content="https://www.skribble.com/{{ .Params.og_image }}">
  {{ else }}
    <meta property="og:image" content="https://www.skribble.com/og/og-skribble.jpg">
  {{ end }}
  <meta name="twitter:card" content="summary_large_image">

  {{ $stylesheet := .Site.Data.webpack.main }}
  {{ with $stylesheet.css }}
  <link href="{{ relURL . }}" rel="stylesheet">
  {{ end }}

  <meta name="apple-mobile-web-app-titl" content="Skribble">
  <meta name="application-name" content="Skribble">
  <meta name="msapplication-TileColor" content="#ff531a">
  <meta name="theme-color" content="#ffffff">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg">
</head>

<body>
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NF4Q7PS"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

      <div style="
       display: flex !important;
      align-items: center !important;
      z-index: 1000 !important; 
      min-height: 80px !important;
      border-color: rgba(0,0,0,.12) !important; 
      background-color: #e50040 !important;     
      position: fixed !important;
      padding-left: 30px !important;
      padding-right: 30px !important;
      padding-top: 0px !important;
      width: 100% !important;
      height: 66px !important;
      margin: 0 !important;
      font-weight: 700 !important;
      letter-spacing: .1px !important;
      border: 0 !important;
      border-radius: 0 !important;
      color: #fff !important;
      font-size: 14px !important;
      transition: .3s cubic-bezier(.25,.8,.5,1) !important;
      line-height: 1.375; !important"><div>
        Service is currently degraded. Our hosting provider is experiencing a major network outage. We are monitoring the situation and will keep you updated.
    
      </div></div>
  {{ block "main" . }}{{end}}

  {{ partial "mobile-nav" . }}

  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
    <script src="{{ relURL . }}"></script>
  {{ end }}

  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5051692.js"></script>
</body>

</html>
