<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
  <title>{{ .Title }}</title>

  <style>
    @font-face {font-family: 'Averta';font-display: fallback;src: url('/fonts/hinted-averta-regular.woff') format('woff');font-weight: normal;font-style: normal;}
    @font-face {font-family: 'Averta';font-display: fallback;src: url('/fonts/hinted-averta-extrabold.woff') format('woff');font-weight: bold;font-style: normal;}
  </style>

  <script defer type="text/javascript" src="/cookieconsent/config.js"></script>
  <script defer type="text/javascript" src="/cookieconsent/klaro.js"></script>

  <!-- Matomo Tag Manager -->
  <script type="text/plain" data-type="text/javascript" data-name="matomo">
  var _mtm = _mtm || [];
  _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
  var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
  g.type='text/javascript'; g.async=true; g.defer=true; g.src='https://analytics.skribble.com/js/container_O54h38yS.js'; s.parentNode.insertBefore(g,s);
  </script>

  <script type="text/plain" data-type="text/javascript" data-name="matomo">
  var _mtm = _mtm || [];
  _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
  var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
  g.type='text/javascript'; g.async=true; g.defer=true; g.src='https://analytics.skribble.com/js/container_O54h38yS.js'; s.parentNode.insertBefore(g,s);
  </script>
  <!-- End Matomo Tag Manager -->

  <meta name="theme-color" content="#293d66"/>
  <meta name="description" content="{{ .Description }}" />
  <meta name="format-detection" content="telephone=no">

  <!-- open graph and twitter -->
  <meta property="og:title" content="{{ .Title }}">

  <meta property="og:description" content="{{ .Description }}">
  <meta property="og:url" content="https://www.skribble.com{{ .Permalink }}">
  <meta property="og:site_name" content="Skribble">
  <!-- use open graph image from pages, or if undefined use og-skribble -->
  {{ if .Params.og_image }}
    <meta property="og:image" content="https://www.skribble.com/{{ .Params.og_image }}">
  {{ else }}
    <meta property="og:image" content="https://www.skribble.com/og/og-skribble.jpg">
  {{ end }}
  <meta name="twitter:card" content="summary_large_image">

  {{ $stylesheet := .Site.Data.webpack.main }}
  {{ with $stylesheet.css }}
  <link href="{{ relURL . }}" rel="stylesheet">
  {{ end }}

  <meta name="apple-mobile-web-app-titl" content="Skribble">
  <meta name="application-name" content="Skribble">
  <meta name="msapplication-TileColor" content="#ff531a">
  <meta name="theme-color" content="#ffffff">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg">
</head>

<body>
  {{ if .Site.Params.outage }} {{ partial "outage-overlay" . }}{{end}}


  {{ block "main" . }}{{end}}

  {{ partial "mobile-nav" . }}

  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
    <script src="{{ relURL . }}"></script>
  {{ end }}

  <script type="text/plain" data-type="text/javascript" data-name="hubspot" id="hs-script-loader" async defer data-src="//js.hs-scripts.com/5051692.js"></script>
</body>

</html>
