{{ define "main" }}
{{ block "header" . }}{{ partial "header" . }}{{end}}
<!-- wide page template -->
<div class="wrapper">
  <main class="main main--contact" style="padding-left: 24px; padding-right: 24px">
    <div class="title-subtitle align-center is-wide">
      <h1>{{ .Params.map.title }}</h1>
      <p>{{ .Params.map.subtitle }}</p>
    </div>
    <div class="contact__columns">
      <div class="contact__inner">
        {{ range .Params.map.columns }}
          <div class="contact__column" style="margin: 0px 10px">
            <h2 class="contact__column-title" style="padding-bottom: 10px">{{ .title }}</h2>
            {{ partial "picture" (dict "alt" .picture.alt "filename" .picture.name "natural_width" "492" "url" .picture.url) }}
            <div style="display: flex; flex-flow: row wrap; padding-top: 20px; max-width: 492px; padding-bottom: 30px">
              <div style="flex:1 ; min-width: 220px;">
                <p style="font-weight: bold; font-size: 18px; color: #293D66">{{ .address.title}}</p>
                <p> 
                  {{ range $i, $e := (split .address.full "\n") }}
                    {{ if $i }}<br>{{ end }}
                    {{ printf "%s" $e }}
                  {{ end }}
                </p>
                <p style="font-weight: bold; font-size: 18px; color: #293D66; margin-top: 10px;">{{ .address.opening_hours.title }}</p>
                <p>{{ .address.opening_hours.text }}</p>
              </div>
              <div style="padding-right: 20px">
                <p style="font-weight: bold; font-size: 18px; color: #293D66">{{ .address.email.title }}</p>
                <p><a href="{{ .address.email.link.href }}" target="_blank">{{ .address.email.link.label }}</a></p>
                {{ if .address.phone }}
                  <p style="font-weight: bold; font-size: 18px; color: #293D66; margin-top: 10px;">{{ .address.phone.title }}</p>
                  <p><a href="tel:{{ replaceRE "(\\s)" "" .address.phone.text }}">{{ .address.phone.text }}</a></p>
                {{ end }}
                {{ if .address.phone }}
                  <p style="font-weight: bold; font-size: 18px; color: #293D66; margin-top: 10px;">{{ .address.contact_form.title }}</p>
                  <p><a target="_blank" href="{{ .address.contact_form.link.href }}">{{ .address.contact_form.link.label }}</a></p>
                {{ end }}
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>

    {{ .Content }}

  </main>
  {{ block "footer" . }}{{ partial "footer" . }}{{end}}
</div>
{{ end }}



