{{ define "main" }}
{{ block "header" . }}{{ partial "header" . }}{{end}}
<!-- wide page template -->
<div class="wrapper">
  <main class="main main--contact" style="padding-left: 24px; padding-right: 24px">
    <div class="title-subtitle align-center is-wide">
      <h1>{{ .Params.map.title }}</h1>
      <p>{{ .Params.map.subtitle }}</p>
    </div>
    <div class="contact__columns">
      <div class="contact__inner container">
        {{ range .Params.map.columns }}
          <div class="contact__column" style="margin: 0px 10px">
            <h2 class="contact__column-title" style="padding-bottom: 10px">{{ .title }}</h2>
            {{ partial "picture" (dict "alt" .picture.alt "filename" .picture.name "natural_width" "492" "url" .picture.url) }}
            <div style="display: flex; flex-flow: row wrap; padding-top: 20px; max-width: 492px; padding-bottom: 30px">
              <div style="flex:1 ; min-width: 220px;">
                <p style="font-weight: bold;">{{ .address.title}}</p>
                <p>
                  {{ range (split .address.full "\n") }}
                    {{ printf "%s" . }}<br>
                  {{ end }}
                </p>
              </div>
              <div style="padding-right: 20px">
                <p style="font-weight: bold;">Email</p>
                <p><a href="mailto:info@skribble.com">info@skribble.com</a></p>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>

    {{ .Content }}

  </main>
  {{ block "footer" . }}{{ partial "footer" . }}{{end}}
</div>
<script>
  let map;
  function initMap() {
    let center = { lat: 47.36763959722869, lng:  8.539725984446706 };

    map = new google.maps.Map(document.getElementById('map'), {
      center: center,
      zoom: 16,
      styles: [
        {
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#f5f5f5"
            }
          ]
        },
        {
          "elementType": "labels.icon",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#616161"
            }
          ]
        },
        {
          "elementType": "labels.text.stroke",
          "stylers": [
            {
              "color": "#f5f5f5"
            }
          ]
        },
        {
          "featureType": "administrative.land_parcel",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#bdbdbd"
            }
          ]
        },
        {
          "featureType": "poi",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#eeeeee"
            }
          ]
        },
        {
          "featureType": "poi",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#757575"
            }
          ]
        },
        {
          "featureType": "poi.park",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#e5e5e5"
            }
          ]
        },
        {
          "featureType": "poi.park",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#9e9e9e"
            }
          ]
        },
        {
          "featureType": "road",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#ffffff"
            }
          ]
        },
        {
          "featureType": "road.arterial",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#757575"
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#dadada"
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#616161"
            }
          ]
        },
        {
          "featureType": "road.local",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#9e9e9e"
            }
          ]
        },
        {
          "featureType": "transit.line",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#e5e5e5"
            }
          ]
        },
        {
          "featureType": "transit.station",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#eeeeee"
            }
          ]
        },
        {
          "featureType": "water",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#c9c9c9"
            }
          ]
        },
        {
          "featureType": "water",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#9e9e9e"
            }
          ]
        }
      ]
    });

    let icon = {
      url: '/marker.png',
      scaledSize: new google.maps.Size(150, 150),
      origin: new google.maps.Point(0,0),
      anchor: new google.maps.Point(75, 75)
    };

    // The marker, positioned at Uluru
    let marker = new google.maps.Marker({
      position: center,
      icon: icon,
      map: map,
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhVDRhBcWXQMq2Ls8YgIMl6LD1QOGywUQ&callback=initMap"
async defer></script>
{{ end }}



