<div class="logos-container">
    <div class="
        skr-container
        {{ if .Get "top"  }}pt-{{ .Get "top" }}{{ end }}
        {{ if .Get "bottom"  }}pb-{{ .Get "bottom" }}{{ end }}
        {{ if .Get "mobile-top"  }}ptm-{{ .Get "mobile-top" }}{{ end }}
        {{ if .Get "mobile-bottom"  }}pbm-{{ .Get "mobile-bottom" }}{{ end }}
        {{ if .Get "width"  }}is-{{ .Get "width" }}{{ end }}
    ">
        {{ with .Get "title"}}<div class="logos-title"><small><strong>{{.}}</strong></small></div>{{ end }}
        <div class="logos-flex-container">
            {{.Inner}}
        </div>
    </div>
</div>