<div class="table-wrapper">
  <div class="
        skr-container
        {{ if .Get "top"  }}pt-{{ .Get "top" }}{{ end }}
        {{ if .Get "bottom"  }}pb-{{ .Get "bottom" }}{{ end }}
        {{ if .Get "mobile-top"  }}ptm-{{ .Get "mobile-top" }}{{ end }}
        {{ if .Get "mobile-bottom"  }}pbm-{{ .Get "mobile-bottom" }}{{ end }}
        {{ if .Get "width"  }}is-{{ .Get "width" }}{{ end }}
    ">
    <div class="table__title">{{.Get "title"}}</div>
    {{ if .Get "lock-for-mobile" }}<div class="table-lock-container">{{ end }}
    <table class="table {{ if eq (.Get "layout") "fixed" }}table--fixed{{ end }} {{ if .Get "class" }}{{ .Get "class" }}{{ end }}">
      <tbody>
        {{.Inner}}
      </tbody>
    </table>
    {{ if .Get "lock-for-mobile" }}</div>{{ end }}
  </div>
</div>