/*
  You can use import statements to include partials:
 */
@import 'imports/reset';

@import 'imports/vars';
@import 'imports/mixins';

@import 'imports/btn';

@import 'imports/center-block';
@import 'imports/collapsible';
@import 'imports/column';
@import 'imports/compliance';
@import 'imports/contact';
@import 'imports/content';
@import 'imports/block';
@import 'imports/error';
@import 'imports/fancy-list';
@import 'imports/footer';
@import 'imports/header';
@import 'imports/id-block';
@import 'imports/id-steps';
@import 'imports/intro';
@import 'imports/lan-nav';
@import 'imports/maps';
@import 'imports/mobile-nav';
@import 'imports/newsletter';
@import 'imports/outro';
@import 'imports/person';
@import 'imports/plan';
@import 'imports/pricing';
@import 'imports/richtext';
@import 'imports/row';
@import 'imports/side-by-side';
@import 'imports/title-subtitle';

@import 'imports/hs-cookie-consent';

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: normal 2rem/1.4 $averta;
  color: $c-text;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include max-width {
    font-size: 1.8rem;
  }
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 100%;
  min-height: 100vh;
}

.main {
  flex: 1 1 100%;
  max-width: 100vw;
  position: relative;
  padding: 90px 0;
  @include max-width {
    padding: 65px 0;
  }

  &--default {
    @include site-width;
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
  }

  &--narrow,
  &--identification {
    @include site-width;
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
  }

  &--contact,
  &--team {
    @include site-width;
    width: 1030px;
    max-width: 100%;
  }

  > .title-subtitle:first-child {
    @include max-width {
      margin-top: 40px;
    }
  }
}

.hide-for-mobile {
  @include max-width {
    display: none !important;
  }
}
.hide-for-desktop {
  @include min-width {
    display: none;
  }
}

.mobile-link {
  display: flex;
  align-items: center;
  font-weight: normal;
  svg {
    width: 23px;
    height: 23px;
    margin: 0 10px;
    fill: $c-text;
  }
  &:hover {
    svg {
      fill: $c-primary;
    }
  }
}