/*
  You can use import statements to include partials:
 */
@import 'imports/reset';

@import 'imports/vars';
@import 'imports/mixins';

@import 'imports/btn';

@import 'imports/action-card';
@import 'imports/collapsible';
@import 'imports/container';
@import 'imports/contact';
@import 'imports/content';
@import 'imports/cta';
@import 'imports/cta-group';
@import 'imports/error';
@import 'imports/fancy-list';
@import 'imports/features-container';
@import 'imports/features-item';
@import 'imports/footer';
@import 'imports/header';
@import 'imports/intro';
@import 'imports/lan-nav';
@import 'imports/logos-container';
@import 'imports/logos-item';
@import 'imports/logos-line-break';
@import 'imports/legal-list';
@import 'imports/markdown';
@import 'imports/maps';
@import 'imports/mobile-nav';
@import 'imports/newsletter';
@import 'imports/outage-overlay';
@import 'imports/outro';
@import 'imports/partner';
@import 'imports/person';
@import 'imports/picture';
@import 'imports/plan';
@import 'imports/row';
@import 'imports/show-hide-button';
@import 'imports/side-by-side';
@import 'imports/step';
@import 'imports/table';
@import 'imports/table-dense';
@import 'imports/testimonial';
@import 'imports/title-subtitle';

@import 'imports/hs-cookie-consent';

// =============================================================================
// note: the following lines draw outlines and backgrounds for all major
// components and label these components
// =============================================================================
@mixin outline($name: default, $color: black, $orientation: 45deg, $text-color: white) {
  outline: 1px solid $color !important;
  background: repeating-linear-gradient($orientation, rgba($color, .1),rgba($color, .1) 10px,rgba($color, .05) 10px,rgba($color, .05) 20px);
  position: relative;
  &:after {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    font: 10px/1 monospace;
    background: $color;
    color: $text-color;
    padding: 0 2px 2px 2px;
    content: '#{$name}';
  }
}
// * {outline: 1px solid rgba(red, .1);}
// .collapsible {@include outline(collapsible, darkgoldenrod, -45deg);}
// .content {@include outline(content, lightslategray);}
// .cta {@include outline(cta, seagreen);}
// .intro {@include outline(intro, black);}
// .outro {@include outline(outro, black);}
// .picture {@include outline(picture, tomato, -45deg);}
// .plan {@include outline(plan, darkslategrey, -45deg);}
// .row {@include outline(row, grey, -45deg);}
// .side-by-side {@include outline(side-by-side, black);}
// .table-wrapper {@include outline(table-wrapper, darkorchid);}
// .logos-container {@include outline(logos-container, indianred);}
// .testimonial {@include outline(testimonial, deepskyblue);}
// .markdown {@include outline(markdown, powderblue, 45deg, black);}
// .features-container {@include outline(features-container, darkkhaki);}
// .action-card {@include outline(action-card, limegreen);}
// =============================================================================

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: normal 1.8rem/1.444 $averta, sans-serif;
  color: $c-text;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include max-width {
    font-size: 1.8rem;
  }
}

// as hugo sometimes adds empty paragraphs
p:empty {
  display: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.main {
  flex: 1 0 auto;
  position: relative;
  max-width: 100vw;
  padding-top: $header-height;
  @include max-width {
    padding-top: $header-height-mobile;
  }

  > .title-subtitle:first-child {
    @include max-width {
      margin-top: 40px;
    }
  }
}

.hide-for-mobile {
  @include max-width {
    display: none !important;
  }
}
.hide-for-desktop {
  @include min-width {
    display: none;
  }
}

.mobile-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  svg {
    width: 23px;
    height: 23px;
    margin: 0 10px;
    fill: $c-text;
  }
  &:hover {
    svg {
      fill: $c-primary;
    }
  }
}

.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}

// Spacing classes from 0 to 24: (coefficient)4px as padding-top and
// padding-bottom, respectively
// On mobile viewports, the constant is 2px instead of 4px
@for $i from 0 through 24 {
  .pt-#{$i} {
    padding-top: #{4 * $i}px;
    @include max-width {
      padding-top: #{2 * $i}px;
    }
  }
  .pb-#{$i} {
    padding-bottom: #{4 * $i}px;
    @include max-width {
      padding-bottom: #{2 * $i}px;
    }
  }
  // Explicitly stated mobile spacing classes overwrite the default classes
  .ptm-#{$i},
  [class*="pt-"].ptm-#{$i} {
    @include max-width {
      padding-top: #{2 * $i}px;
    }
  }
  .pbm-#{$i},
  [class*="pb-"].pbm-#{$i} {
    @include max-width {
      padding-bottom: #{2 * $i}px;
    }
  }
}

// Width classes
// skr-container, is-wide, and .is-full-width
.skr-container {
  margin: 0 auto;
  width: 1024px;
  max-width: 100%;
  padding-right: 24px;
  padding-left: 24px;
  &.is-narrow {
    width: 720px;
  }
  &.is-wide {
    width: 1300px;
  }
  &.is-full {
    width: 100vw;
  }
}

