/*
  You can use import statements to include partials:
 */
@import 'imports/reset.css';
@import 'imports/vars.css';

@font-face {
  font-family: 'Averta';
  src: url('/fonts/hinted-averta-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  src: url('/fonts/hinted-averta-extrabold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/*
  Or add your statements here:
 */
body {
  font-size: calc(10px + 1vmin);
  font-family: Averta;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #282c34;
  color: var(--c-secondary);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

.content {
  padding: 0 32px;
}
