/*
  You can use import statements to include partials:
 */
@import 'imports/reset';

@font-face {
  font-family: 'Averta';
  font-display: swap;
  src: url('/fonts/hinted-averta-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  font-display: swap;
  src: url('/fonts/hinted-averta-extrabold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@import 'imports/vars';
@import 'imports/mixins';

@import 'imports/btn';

@import 'imports/collapsible';
@import 'imports/compliance';
@import 'imports/contact';
@import 'imports/block';
@import 'imports/footer';
@import 'imports/header';
@import 'imports/id-block';
@import 'imports/id-steps';
@import 'imports/intro';
@import 'imports/lan-nav';
@import 'imports/maps';
@import 'imports/mobile-nav';
@import 'imports/newsletter';
@import 'imports/outro';
@import 'imports/person';
@import 'imports/price-plan';
@import 'imports/pricing';
@import 'imports/richtext';
@import 'imports/title-subtitle';

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: normal 2rem/1.4 var(--averta);
  color: var(--c-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include max-width {
    font-size: 1.8rem;
  }
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.main {
  flex: 1 1 100%;
  max-width: 100vw;
  position: relative;
  padding: 90px 40px;
  @include max-width {
    padding: 65px 0;
  }

  &--narrow,
  &--identification {
    @include site-width;
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
  }

  &--contact,
  &--team {
    @include site-width;
    width: 1030px;
    max-width: 100%;
  }

  > .title-subtitle:first-child {
    @include max-width {
      margin-top: 40px;
    }
  }
}

.hide-for-mobile {
  @include max-width {
    display: none;
  }
}
.hide-for-desktop {
  @include min-width {
    display: none;
  }
}