/*
  You can use import statements to include partials:
 */
@import 'imports/reset';

@import 'imports/vars';
@import 'imports/mixins';

@import 'imports/btn';

@import 'imports/collapsible';
@import 'imports/container';
@import 'imports/contact';
@import 'imports/content';
@import 'imports/cta';
@import 'imports/error';
@import 'imports/fancy-list';
@import 'imports/footer';
@import 'imports/header';
@import 'imports/heading';
@import 'imports/intro';
@import 'imports/lan-nav';
@import 'imports/maps';
@import 'imports/mobile-nav';
@import 'imports/newsletter';
@import 'imports/outro';
@import 'imports/person';
@import 'imports/picture';
@import 'imports/plan';
@import 'imports/richtext';
@import 'imports/row';
@import 'imports/side-by-side';
@import 'imports/step';
@import 'imports/table';
@import 'imports/testimonial';
@import 'imports/title-subtitle';

@import 'imports/hs-cookie-consent';

// =============================================================================
// note: the following lines draw outlines and backgrounds for all major
// components and label these components
// =============================================================================
// @mixin outline($name: default, $color: black, $orientation: 45deg) {
//   outline: 1px solid $color !important;
//   background: repeating-linear-gradient($orientation, rgba($color, .1),rgba($color, .1) 10px,rgba($color, .05) 10px,rgba($color, .05) 20px);
//   position: relative;
//   &:after {
//     position: absolute;
//     left: 0;
//     top: 0;
//     z-index: 10;
//     font: 10px/1 monospace;
//     background: $color;
//     color: white;
//     padding: 0 2px 2px 2px;
//     content: '#{$name}';
//   }
// }
// * {outline: 1px solid rgba(red, .1);}
// .collapsible {@include outline(collapsible, darkgoldenrod, -45deg);}
// .content {@include outline(content, black);}
// .cta {@include outline(cta, seagreen);}
// .heading {@include outline(heading, purple, -45deg);}
// .intro {@include outline(intro, black);}
// .outro {@include outline(outro, black);}
// .picture {@include outline(picture, tomato, -45deg);}
// .plan {@include outline(plan, darkslategrey, -45deg);}
// .richtext {@include outline(richtext, mediumslateblue, -45deg);}
// .row {@include outline(row, grey, -45deg);}
// .side-by-side {@include outline(side-by-side, black);}
// .table-wrapper {@include outline(table-wrapper, darkorchid);}
// =============================================================================

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: normal 1.8rem/1.444 $averta, sans-serif;
  color: $c-text;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include max-width {
    font-size: 1.8rem;
  }
}

// as hugo sometimes adds empty paragraphs
p:empty {
  display: none;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}



.main {
  flex: 1 0 auto;
  position: relative;
  max-width: 100vw;
  padding-top: $header-height;
  @include max-width {
    padding-top: $header-height-mobile;
  }

  // first content component shall have a different padding
  .content:first-child {
    padding-top: 44px;
    @include max-width {
      padding-top: 22px;
    }
  }

  > .title-subtitle:first-child {
    @include max-width {
      margin-top: 40px;
    }
  }
}

.hide-for-mobile {
  @include max-width {
    display: none !important;
  }
}
.hide-for-desktop {
  @include min-width {
    display: none;
  }
}

.mobile-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  svg {
    width: 23px;
    height: 23px;
    margin: 0 10px;
    fill: $c-text;
  }
  &:hover {
    svg {
      fill: $c-primary;
    }
  }
}