/*
  You can use import statements to include partials:
 */
@import 'imports/reset';

@font-face {
  font-family: 'Averta';
  font-display: swap;
  src: url('/fonts/hinted-averta-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  font-display: swap;
  src: url('/fonts/hinted-averta-extrabold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@import 'imports/vars';
@import 'imports/mixins';

@import 'imports/btn';

@import 'imports/collapsible';
@import 'imports/compliance';
@import 'imports/block';
@import 'imports/footer';
@import 'imports/header';
@import 'imports/intro';
@import 'imports/lan-nav';
@import 'imports/newsletter';
@import 'imports/price-plan';
@import 'imports/pricing';
@import 'imports/title-subtitle';

html {
  font-size: 10px;
}

/*
  Or add your statements here:
 */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  line-height: 1.4;
  font-family: var(--averta);
  color: var(--c-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include max-width {
    font-size: 1.8rem;
  }
}

.main {
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  &--narrow {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }
}

h1 {
  font: bold 4rem/1.1 var(--averta);
  color: var(--c-text-dark);
  @include max-width {
    font-size: 3rem;
  }
}
